.highlighted-cell {
    outline: 5px solid rgb(21, 120, 220);
}

.cell {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.odd-cell {
    background-color: rgb(115, 90, 90);
}

.even-cell {
    background-color: wheat;
}

.horse-icon {
    width: 60px;
    display: block;
    padding: 10px;
}