.chess-board-container {
    display: flex;
    align-items: center;
    margin: auto;
    min-height: 80vh;
    margin-top: 5vh;
}

.chess-board {
    margin: auto
}

.help-icon {
    width: 30px;
    margin-top: -10px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}